black
mypy
numpy>=1.22.0
Pillow>=9.0.0
pre-commit>=2.18.0
pytest>=6.0.0
pytest-github-actions-annotate-failures>=0.1.8
ruff
scipy>=1.10.0
tensorflow==2.11.0
torch>=2.0.0
torchvision
types-Pillow>=9.3.0.4
